<body>
<nav class="nav">
  <a class="nav-link active" aria-current="page" href="/">Canvas</a>
  <a class="nav-link" href="/addTask">Add Task</a>
  <a class="nav-link" href="/signup">Signup</a>
  <a class="nav-link" href="/login">Login</a>
</nav>