<%- include('./includes/head.ejs')%>
</head>
<%- include('./includes/nav.ejs')%> 

<form action="/addTask" method="post">
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Task Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter Task Title" required>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Task Description</label>
    <textarea class="form-control" id="tDes" name="tDes" rows="3" placeholder="Enter your Description for your task but beaware you have three rows"></textarea>
  </div>
  <div class="mb-3 form-check">
    <label class="form-check-label" for="exampleCheck1">Start Date</label>
    <input type="date" name="sDate" id="sDate">
    <label class="form-check-label" for="exampleCheck1">End Date</label>
    <input type="date" name="eDate" id="eDate">
  </div>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
<%- include('./includes/end.ejs')%> 
</html>