<%- include('./includes/head.ejs')%>
<%- include('./includes/nav.ejs')%>
<main>
    <br><br>
    <form action="/signup" method="post">
        <div class="mb-3">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="fName" placeholder="Please enter your first name" required>
        </div>
        <br><br>
        <div class="mb-3">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lName" placeholder="Please enter your Last Name" required>
        </div>
        <br><br>
        <div class="mb-3">
        <label for="phone">Phone</label>
        <input type="number" class="form-control" name="phone" placeholder="Please Provide your Phone Number" required>
        </div>
        <br><br>
        <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control"  name="email" id="email" placeholder="Please Provide your email" required>
        </div>
        <br><br>
        <div class="mb-3">
        <label for="password">password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Please Provide your password" required>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary btn-lg">Signup</button>
    </form>
</main>

<%- include('./includes/end.ejs')%>


